ARC_RPC_URL=https://rpc.testnet.arc.network
CONTRACT_ADDRESS=0xFc7dE289e02FCFB4268AE8f0e49991D2Eafe5C87
USDC_ADDRESS=0x3600000000000000000000000000000000000000
BOT_PRIVATE_KEY=
BOT_LIVE_WRITES=false
BOT_STATE_FILE=data/state.json
POLL_INTERVAL_MS=8000
BOT_AGENT_NAME=Arc URL Summarizer
SUMMARY_API_URL=
SUMMARY_API_KEY=
SUMMARY_MODEL=
PINATA_JWT=
PINATA_GATEWAY_BASE=
